.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listContener {
    display: inherit;
    width: 55vw;
    height: 60vh;
    border: 4px solid #000;
}

.left {
    display: inherit;
    flex-flow: column nowrap;
    border-right: 3px solid #000;
}

.left, .right {
    width: 30vw;
}

.searchBar {
    height: auto;
    border-bottom: 3px solid #000;
}

.nothingFound {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.nothingFound button {
    padding: 8px;
    color: white;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #6e6e6e;
}

@media (max-width: 800px) {
    .listContener{
        width: 80vw;
        height: 85vh;
    }
}

@media (max-width: 500px) {
    .listContener{
        width: 95vw;
        height: 90vh;
    }
    .left{
        width: 50vw;
    }
}
